In [1]:
import pandas as pd

## Load

In [2]:
portfolio = pd.read_csv('../../data/processed/portfolio.csv')
portfolio.head()

,reward,channels,difficulty,duration,offer_type,portfolio_id,offer
0,10,email-mobile-social,10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd,bogo-email-mobile-social
1,10,web-email-mobile-social,10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo-web-email-mobile-social
2,0,web-email-mobile,0,4,informational,3f207df678b143eea3cee63160fa8bed,informational-web-email-mobile
3,5,web-email-mobile,5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo-web-email-mobile
4,5,web-email,20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount-web-email

In [ ]:
profile = pd.read_csv('../../data/processed/profile.csv')
profile.head()

,gender,age,profile_id,income,become_member_on_date
0,NaN,118,68be06ca386d4c31939f3a4f0e3dd783,NaN,2017-02-12
1,F,55,0610b486422d4921ae7d2bf64640c50b,112000.0,2017-07-15
2,NaN,118,38fe809add3b4fcf9315a9694bb96ff5,NaN,2018-07-12
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,100000.0,2017-05-09
4,NaN,118,a03223e636434f42ac4c3df47e8bac43,NaN,2017-08-04

In [4]:
transcript = pd.read_csv('../../data/processed/transcript.csv')
transcript.head()

,profile_id,event,time,portfolio_id,amount,transcript_reward
0,78afa995795e4d85b5d9ceeca43f5fef,offer_received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
1,a03223e636434f42ac4c3df47e8bac43,offer_received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
2,e2127556f4f64592b11af22de27a7932,offer_received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer_received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN
4,68617ca6246f4fbc85e91a2a49552598,offer_received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN

## Join

In [5]:
user_behaviour = pd.merge(transcript ,portfolio, on="portfolio_id", how="left")
user_behaviour = pd.merge(user_behaviour,profile, on="profile_id", how="left")
user_behaviour.head()

,profile_id,event,time,portfolio_id,amount,transcript_reward,reward,channels,difficulty,duration,offer_type,offer,gender,age,income,become_member_on_date
0,78afa995795e4d85b5d9ceeca43f5fef,offer_received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN,5.0,web-email-mobile,5.0,7.0,bogo,bogo-web-email-mobile,F,75,100000.0,2017-05-09
1,a03223e636434f42ac4c3df47e8bac43,offer_received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,5.0,web-email,20.0,10.0,discount,discount-web-email,NaN,118,NaN,2017-08-04
2,e2127556f4f64592b11af22de27a7932,offer_received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN,2.0,web-email-mobile,10.0,7.0,discount,discount-web-email-mobile,M,68,70000.0,2018-04-26
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer_received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,2.0,web-email-mobile-social,10.0,10.0,discount,discount-web-email-mobile-social,NaN,118,NaN,2017-09-25
4,68617ca6246f4fbc85e91a2a49552598,offer_received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN,10.0,web-email-mobile-social,10.0,5.0,bogo,bogo-web-email-mobile-social,NaN,118,NaN,2017-10-02

## Save

In [6]:
user_behaviour.to_csv('../../data/processed/user_behaviour.csv', index=False)